.comment {
    background: #fbfbfb;
    padding: 15px 20px 30px 20px;
    margin-top: 30px;
    ::-webkit-input-placeholder {
        font-style: italic;
        color: #949494;
      }
    .comment_form {
        border-bottom: 2px solid #ccd0d5;
        padding-bottom: 10px;
        h3 {
            font-size: 18px;
            font-weight: bold;
        }
        .comment_content {
            margin: 20px 0;
            .comment_textarea {
                width: 100%;
                .textarea {
                    padding-left: 10px;
                    width: 100%;
                    height: 35px;
                    border-radius: 4px;
                    border: 1px solid #ccd0d5;
                    outline: none;
                }
            }
        }
        .fa{
            font-size: 15px;
            width: 37px;
            height: 37px;
            background: #2680eb;
            color:#fff;
            border-radius: 4px 0 0 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        input[type="submit"] {
            padding: 8px 15px;
            background: #0650a7;
            border: none;
            cursor: pointer;
            -webkit-border-radius: 4px;
            border-radius: 0 4px 4px 0;
            color:#fff;
            font-weight: bold;
        }
    }
    .comment_show {
        margin: 20px 0;
        .comment_ava {
            margin-right: 14px;
        }
        .comment_textarea {
            margin-top: -4px;
            .comment_user {
                font-weight: bold;
                margin-right: 10px;
            }
            .comment_date {
                color: rgba(0, 0, 0, 0.4);
                font-size: 12px;
            }
        }
    }
    .comment_ava {
        margin-right: 9px;
        .comment_img {
            height: 35px;
            width: 35px;
            img {
                width: 100%;
            }
        }
    }
}
